@import './header';
@import './footer';
@import './general';

.careers_desc{
    margin: 6rem 0rem 2.5rem !important;
    padding: 0rem 2rem;
    h4{
        padding: 0rem 3rem;
        color: #0a0a0a;
        font-size: 24px;
        font-weight: 900;
        font-family: 'Montserrat';
    }
    p{
        font-size: 14px;
        font-weight: 400;
        color: #898989;
        font-family: "PT Sans";    
    }
}

.careers_form{
    padding: 0rem 2rem;
    &>*{ margin-bottom: 1rem; display: block; 
        &:not(button, textarea){
            //height: calc(1.5em + 1rem + 2px);
            height: auto;
            padding: .5rem 1rem;
            position: relative;
        }
        textarea{
            //padding: .5rem 1rem;
            width: 100%;
            margin: 0;
            padding: 0;
            font-size: large;
            //height: 100%;
            border: none;
            outline: none;
        }
    }

    .inPr{
        input{
            width: 100%;
            margin: 0;
            padding: 0;
            font-size: large;
            height: 100%;
            border: none;
            outline: none;
        }
        small{
            position: absolute;
            top: 9px;
            right: 15px;
            content: "Msg";
            color: red;
            visibility: hidden;
        }
    }
    .formerror{
        background-color: #fa7267;
        padding: 0;
        margin: 0;
        width: 100%;
        clear: both;
        border-radius: 5px;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.5rem;
        *{     
            display: block;
            float: left;
            color: white;
            padding: 0.5rem 1.2rem;
            margin: 0;
            font-size: 0.8rem;
        }
        i{  }
        p{ border-left: 1px solid white; }
    }

    button{
        background-color: #89c218;
        color: #ffffff;
        font-size: 14px;
        padding: 11px 28px;
        &:hover{ background-color: #64910a; color: #ffffff; }
    }
}

/*.careers_file{
    background-color: cornflowerblue;
    //overflow: auto;
    height: 3.8rem;
    @media (max-width: 992px) and (min-width: 569.9px){ height: 5.4rem; }
    @media (max-width: 570px) and (min-width: 400px){ height: 6.4rem; 
        button{
            bottom: -1rem!important;
            right: 1rem!important;
        }
    }
    padding: 1rem 4em;
    position: relative;

    *{ display: block;  float: left; }
    i{ color: white; margin-right: 15px; font-size: 1.7rem;}
    p{
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        font-family: 'Montserrat';  
        margin-bottom: 0; 
        width: calc(100% - 40px);
    }
    button{
        background-color: black;
        color: white;
        position: absolute;
        bottom: -0.5rem;
        right: 2rem;
        border-radius: 5px;
        border: none;
        padding: 0.6rem 1.5rem;
        *{ display: block;  float: left; color: white; font-size: 0.7rem; }
        i{ margin-right: 10px; margin-top: 2px; }
        a{ text-decoration: none; }
    }
}*/